@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Playfair+Display+SC:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}


:root {
    --color-1: white;
    --color-2: rgb(84 108 245);
    --color-3: rgba(8, 1, 1, 0.719);
    --color-text: green;
    --transition: 0.3s;
    --font-size: 1.2rem;
}

body {
    background: var(--color-3) ;
}
nav {
    display: grid;
    grid-template-columns: 50% 50%;
    color: var(--color-1);
    font-size: var(--font-size);
    margin-top: 0;
}

h2 {
    padding-left: 5px;
}

ul {
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
}

li {
    margin: 0 30px;
    list-style-type: none;
}

.header {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: justify;
}

.header-right img{
    height: 500px;
    width: 80%;
    margin-top: 80px;

}

.header-left-container {
    margin: 10px;
    mar
}

.header-left {
    margin-top: 150px;
}

h1 {
    color: var(--color-1);
    font-size: 5rem ;
    font-weight: bold;
}

.header-left-container h3{
    color: var(--color-2);
    font-size: 2rem;
}

.header-left-container p{
    color: var(--color-1);
    font-size: var(--font-size);
}

.infos {
    display: grid;
    grid-template-columns: 30% 70%;

    color: var(--color-1);
    background: var(--color-3);
}

.infos-left {

}

.btn-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 15px;
}

button {
    background: rgb(84 108 245);
    color: var(--color-1);
    margin: 7px 0;
    width: 35%;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid transparent;
}

.img-container {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px 0;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.img-container img {
    width: 12%;
    height: 60px;
    text-align: center;
}